
.add-loading {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.remove-loading {
    opacity: 0;
}

.remove-loading-after {
    transform: scale3d(0, 1, 1);
    opacity: 0;
}



.add-reply-btn {
    display: block;
}
